/* Table of Contents
- Navigation
- Hero 
- Findings 
- Video / Animation
- Grid
- Base Styles
- Typography 
- Links
- Lists 
- Code
- Spacing 
- Misc.
- Clearing 
- Media Queries



/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header { width: 100%; }

.header .nav { 
  text-align: center;
  letter-spacing: 1px; 
  font-weight: bold; 
  font-size: 16px;
  cursor: pointer;
}

.header .navsection { position: relative; width: 800px; margin: 0 auto; }

.line { 
  color: black; 
  text-align: center; 
  bottom: 0; 
  width: 100px; 
  left:130px;
  position: relative; 
}

.header .nav a {
  text-decoration: none;
  color: #000;
  height: 50px; 
  width: 100px;
  display: inline-block;
  text-align: center; 
  line-height: 80px; 
}

.line{
-moz-transition: all 0.5;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

/* where the pointer follows the line
at hover and target*/

.home:hover ~ .line{
  left:130px !important;
}

.about:hover ~ .line{
  left:242px !important;
}

.findings:hover ~ .line{
  left:350px !important;
}
.video:hover ~ .line{
  left:462px !important;
}

.contact:hover ~ .line{
  left: 574px !important;
}

.home:target ~ .line {
  left: 130px;
}

.about:target ~ .line {
  left: 242px;
}

.findings:target ~ .line {
  left: 350px;
}

.video:target ~ .line {
  left: 462px;
}
.contact:target ~ .line {
  left: 574px;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */ 

 .hero {
  padding: 0;
  min-height: 400px;
  text-align: center;
  position: relative; /* try setting to static later */
  background-color: #444; /* layer fill content */
  color: white;
  content: 'Hello'

}
.hero-image {
  background: url("images/dorset47.jpg") no-repeat; 
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0.9;
}

.hero h2 {
  font-size: 24px; 
}
 
.hero p {
  padding: 50%;
}

/* Findings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*Different Filter styles 

.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.opacity {-webkit-filter: opacity(50%);} */

ul {
  white-space: nowrap;

}

ul, li {
  list-style: none;
  display: inline;
  padding: 18px;
}

.findings img:hover {
    -webkit-filter: brightness(50%);
 }

/* Video / Animation 
(Can be completely centered if margin-left:auto;)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.center { 
    margin-left: 3.5%;
    margin-right: auto;
    display: block
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 800px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 850px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 79.1%; } /* previously 82.6666666667% */
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column, 
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5;
  font-weight: 400;
  font-family:  "courier", monospace;
  color: #000; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 2.05rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.7rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 2.05rem; }
  h6 { font-size: 1.7rem; }
}

p {
  margin-top: 0; }

.contact {
  color: grey
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: black; }
a:hover {
  color: #4eb7ae; }



/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (min-width: 800px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 850px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
